<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ApplyNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>	
	<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Connectionstringex" value="User ID=SA_CAMSSQLRO;Password=cud@#123;Initial Catalog = CAMS_External;Connection Timeout=20000;Data Source = CUDCAMSDB01\CUDCAMS;pooling=false;MultipleActiveResultSets=True;" />
    <add key="ConnectionstringCams" value="User ID=SA_CAMSSQLRO;Password=cud@#123;Initial Catalog = CAMS_Enterprise;Connection Timeout=20000;Data Source = CUDCAMSDB01\CUDCAMS;pooling=false;MultipleActiveResultSets=True;" />
    <!--<add key="ConnectionstringCams" value="User ID=SA_CAMSSQLRO;Password=cud@#123;Initial Catalog = CAMS_Enterprise;Connection Timeout=20000;Data Source = CUDCAMSDB01\CUDCAMS;pooling=false;MultipleActiveResultSets=True;" />-->
    <add key="profile_id" value="9F4A95B5-9869-427F-A0C4-327D6627B9AD" />
    <add key="Agent_RecepientEmail" value="agentadmissions@cud.ac.ae" />
    <add key="access_key" value="b052127217173f66b83fde65a26dc94b" />
    <add key="RedirectUrl" value="https://testsecureacceptance.cybersource.com/pay" />
    <add key="SecretKey" value="6f47bcbbea8e4aa1893147f13dea000104c4975fe6a94202a4d23073263f6c89739040e9f4f24b77b253f904e3735f9a7fe35e017ce3425e8a7956154a80e7173e46900a602a4399aa4b365b5ea1ed07d70be4bb9a964303b007e25912aedf6bf212b327a8a24753a7e293e43dda01af89fac755da734ef380f41471aa3ab56b" />
    <add key="ActiveCampaignToken" value="191b7a5260ef69e50b65c8f1e53a542414f1ed7b98d65dc06f4ea5f14613cd7e2c6fd58b"/>
    
	  <add key="CUD_ApiKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmaXJvei5zYWJhdGhAY3VkLmFjLmFlIiwianRpIjoiNDllM2VmNTEtYWRkNy00NDhmLWIyNWYtZDU5ZTEzMTcxNmI1IiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiJmaXJvei5zYWJhdGgiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBZG1pbmlzdHJhdG9yIiwiZXhwIjoxNjY4MjYxNjc5LCJpc3MiOiJodHRwczovL2xvY2FsaG9zdDo0NDM2OSIsImF1ZCI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzkwIn0.WoWpp0-cdE4JVvj3ADTxRWKKlvdRWdZXmT6e35CPvT0"/>
	  <add key="RedirectUrl_API" value="http://localhost:55888/en-US/OnlinePayment/CudReceiptCorporateTraining"/>
	  <add key="CUD_PaymentAPI" value="http://10.100.110.51:90/api/Cudpaymentgateway/payment"/>
	  <add key="CTPaymentAmt" value="2200"/>
		
	  <add key="CryptoConversionRate" value="3.67"/>
	  <add key="CryptoAPIUrl" value="http://10.100.110.51:90/api/Binancepay/ValidatePay"/>
	  <add key="CryptoReturnUrl" value="http://localhost:55888/en-US/OnlinePayment/CudReceipt"/>
	  <add key="CryptoCancelUrl" value="http://localhost:55888/en-US/OnlinePayment/CudReceipt"/>

	  <!--<add key="CUD_ApiKey" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmaXJvei5zYWJhdGhAY3VkLmFjLmFlIiwianRpIjoiNDllM2VmNTEtYWRkNy00NDhmLWIyNWYtZDU5ZTEzMTcxNmI1IiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiJmaXJvei5zYWJhdGgiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOiJBZG1pbmlzdHJhdG9yIiwiZXhwIjoxNjY4MjYxNjc5LCJpc3MiOiJodHRwczovL2xvY2FsaG9zdDo0NDM2OSIsImF1ZCI6Imh0dHBzOi8vbG9jYWxob3N0OjQ0MzkwIn0.WoWpp0-cdE4JVvj3ADTxRWKKlvdRWdZXmT6e35CPvT0"/>
	          <add key="RedirectUrl_API" value="https://cudportal.cud.ac.ae/apply/en-US/OnlinePayment/CudReceiptCorporateTraining"/>
	          <add key="CUD_PaymentAPI" value="https://api.cud.ac.ae/api/Cudpaymentgateway/payment"/>
	          <add key="CTPaymentAmt" value="2200"/>-->
	  
	  <!--<add key="CUD_PaymentAPI" value="https://localhost:44333/api/Cudpaymentgateway/payment"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
      <authentication mode="Forms">     
      <forms defaultUrl="/Lead/index" loginUrl="~/en-US/OnlineApply/index"></forms>
    </authentication>   
  </system.web>	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <ApplyNew.Properties.Settings>
      <setting name="ApplyNew_SFservicesamp_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/50.0/0DF4H000000XZMU</value>
      </setting>
    </ApplyNew.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="CAMS_CustomTestnames" connectionString="metadata=res://*/DocNames.csdl|res://*/DocNames.ssdl|res://*/DocNames.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CUDCAMSDB02\CUDCAMS;initial catalog=CAMS_External;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAMS_TestScoresEntities" connectionString="metadata=res://*/TestScores.csdl|res://*/TestScores.ssdl|res://*/TestScores.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CUDCAMSDB02\CUDCAMS;initial catalog=CAMS_Enterprise_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAMS_ProfileProgressEntities" connectionString="metadata=res://*/ModelProgress.csdl|res://*/ModelProgress.ssdl|res://*/ModelProgress.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CUDCAMSDB02\CUDCAMS;initial catalog=CAMS_Enterprise_Test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>